// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//header modif

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background-image: none;
}
.toolbar-background {
    border-bottom:1px solid #d10000;
    background: #ec3438;
}
.toolbar-md {
    min-height: 45px;
        
}
.toolbar-title-md {
    color: #fff;
    text-align: center;
}
image-viewer.ion-page ion-navbar.toolbar .toolbar-background {
    background-color: #ec3438 !important;
   }
   image-viewer.ion-page .image-wrapper {
       margin-top: 45px !important;
   }
   ion-backdrop{
    height: 0%;
   }
   image-viewer.ion-page .image-wrapper {
    background-color: #5a5a5a !important;
   }
//tabs modif
.tabbar{
    border-top :1px solid #d7d7d7;
}
.tabs-md .tabbar {
    background: #fff;
}
.tabs-md .tab-button {
    min-height: 40px;
    font-weight: normal;
    color:#9e9e9e;
    padding: 0;
}
.tabs-md .tab-button[aria-selected="true"] {
    color: #fff;
    background:#f84848;
    font-size: 1rem;

}
.tabs-md .tab-button[aria-selected="true"] .tab-button-icon {
    color: #fff;
}
.tabs-md[tabsLayout="icon-top"] .has-icon .tab-button-text {
    margin-top: 0px;
    margin-bottom: 0;
}
.tabs-md .tab-button-icon {
    margin-top: 1px;
    min-width: 2.4rem;
    font-size: 2rem;
    color: #9e9e9e;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition-property: -webkit-transform;
    transition-duration: 0.0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
transition: -webkit-transform 0.0s ease-in-out;
    transition-property: -webkit-transform;
    transition-duration: 0.0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
transition: transform 0.3s ease-in-out;
    transition-property: transform;
    transition-duration: 0.0s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
transition: transform 0.0s ease-in-out, -webkit-transform 0.0s ease-in-out;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.0s, 0.0s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: 0s, 0s;
-webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0% 0px;
transform-origin: 0% 0%;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color:#fff;
}

